.about-content {
    color: #4d4d4d;
}

.AE-is {
    display: flex;
    flex-wrap: wrap;
    font-family: box7;
    font-size: 20pt;
    height: 500px;

    div:nth-child(1) {
        display: flex;
        width: 50%;
        padding: 0px 5%;
        background-color: #ffcc00;

        p {
            margin: auto;

            span:nth-child(1) {
                font-size: 40pt;
                font-weight: 500;
            }

            span:nth-child(2),
            span:nth-child(3) {
                color: white;
            }
        }
    }

    div:nth-child(2) {
        width: 40%;
        background-image: url(../img/laptop.png);
        background-position: -200px -100px;
        background-repeat: no-repeat;
        background-size: 250%;
        background-color: rgba(0, 0, 0, 0.438);
        background-blend-mode: overlay;
    }
}

@media screen and (max-width: 450px) {
    .AE-is {
        font-size: 18pt;

        div:nth-child(1) {
            p {
                span:nth-child(1) {
                    font-size: 30pt;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .AE-is {
        font-size: 18pt;

        div:nth-child(1) {
            p {
                span:nth-child(1) {
                    font-size: 28pt;
                    font-weight: 500;
                }

            }
        }
    }
}