.who-we-are {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.girl-sitting {
    width: 40%;
    background-image: url(../img/girl-sitting2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.who-we-are-section {
    display: flex;
    width: 60%;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    text-align: center;
}

.who-we-are-box {
    margin: 10px auto;
    font-family: box7;
    font-size: 12pt;
    background-color: #ffcc00;

    p {
        padding: 15px 50px;
    }
}

.who-we-are-txt {
    width: 70%;
    margin: auto;
    color: #4d4d4d;
    font-family: box1;
    text-align: center;

    span {
        font-family: box2;
        font-size: 14pt;
    }
}

.our-vision-div {
    margin: auto;
    margin-top: 40px;
    background-color: #4d4d4d;
    color: white;
    font-family: box2;
    display: flex;
    padding: 10px;

    p {
        margin: auto;
        padding: 0px 20px;
    }
}

.our-vision-txt {
    margin: auto;
    color: #4d4d4d;
    font-family: box1;
    display: flex;
    padding: 10px;
}

.core-vals-div {
    display: flex;

    p {
        span {
            color: #ffcc00;
            font-size: 20pt;
        }

        margin: auto;
        color: #4d4d4d;
        font-family: box1;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 553px) {
    .girl-sitting {
        display: none;
    }

    .who-we-are-section {
        margin: auto;
        width: 90%;
    }
}