* {
  margin: 0px;
  padding: 0px;
}

.about-content {
  color: #4d4d4d;
}

.AE-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: box7;
  font-size: 20pt;
  height: 500px;
}

.AE-is div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0px 5%;
  background-color: #ffcc00;
}

.AE-is div:nth-child(1) p {
  margin: auto;
}

.AE-is div:nth-child(1) p span:nth-child(1) {
  font-size: 40pt;
  font-weight: 500;
}

.AE-is div:nth-child(1) p span:nth-child(2),
.AE-is div:nth-child(1) p span:nth-child(3) {
  color: white;
}

.AE-is div:nth-child(2) {
  width: 40%;
  background-image: url(../img/laptop.png);
  background-position: -200px -100px;
  background-repeat: no-repeat;
  background-size: 250%;
  background-color: rgba(0, 0, 0, 0.438);
  background-blend-mode: overlay;
}

@media screen and (max-width: 450px) {
  .AE-is {
    font-size: 18pt;
  }
  .AE-is div:nth-child(1) p span:nth-child(1) {
    font-size: 30pt;
    font-weight: 500;
  }
}

@media screen and (max-width: 370px) {
  .AE-is {
    font-size: 18pt;
  }
  .AE-is div:nth-child(1) p span:nth-child(1) {
    font-size: 28pt;
    font-weight: 500;
  }
}

.who-we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.girl-sitting {
  width: 40%;
  background-image: url(../img/girl-sitting2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.who-we-are-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  text-align: center;
}

.who-we-are-box {
  margin: 10px auto;
  font-family: box7;
  font-size: 12pt;
  background-color: #ffcc00;
}

.who-we-are-box p {
  padding: 15px 50px;
}

.who-we-are-txt {
  width: 70%;
  margin: auto;
  color: #4d4d4d;
  font-family: box1;
  text-align: center;
}

.who-we-are-txt span {
  font-family: box2;
  font-size: 14pt;
}

.our-vision-div {
  margin: auto;
  margin-top: 40px;
  background-color: #4d4d4d;
  color: white;
  font-family: box2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.our-vision-div p {
  margin: auto;
  padding: 0px 20px;
}

.our-vision-txt {
  margin: auto;
  color: #4d4d4d;
  font-family: box1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.core-vals-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.core-vals-div p {
  margin: auto;
  color: #4d4d4d;
  font-family: box1;
  padding-bottom: 20px;
}

.core-vals-div p span {
  color: #ffcc00;
  font-size: 20pt;
}

@media screen and (max-width: 553px) {
  .girl-sitting {
    display: none;
  }
  .who-we-are-section {
    margin: auto;
    width: 90%;
  }
}

@font-face {
  font-family: box;
  src: url(../fonts/Monserrat/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: box4;
  src: url(../fonts/Monserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: box1;
  src: url(../fonts/Monserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: box2;
  src: url(../fonts/Monserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: box3;
  src: url(../fonts/Monserrat/Montserrat-ExtraBold.otf);
}

@font-face {
  font-family: box5;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: box6;
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
  font-family: box7;
  src: url(../fonts/Spartan-ExtraBold.ttf);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

a {
  text-decoration: none;
}

u {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 3px solid #ffcc00;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.445);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.445);
  position: fixed;
  z-index: 3;
}

.logo {
  width: 250px;
  height: 100%;
  background-color: #fff;
  background-image: url(../img/ASSET-EQUITY.png);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-links-div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 1%;
}

.nav-links-div a {
  font-size: 8pt;
  font-family: box;
  color: #4d4d4d;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-links-div a span {
  color: #ffcc00;
}

.nav-links-div a:hover {
  color: #ffcc00;
}

.ham {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  width: 30px;
  height: 20px;
  background-image: url(../img/hamburger-menu-icon_0000_Layer-1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.ham:hover {
  cursor: pointer;
}

.drop-down {
  margin-top: 100px;
  margin-left: 50%;
  width: 50%;
  height: 300px;
  background-color: #4d4d4d;
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  display: none;
}

.drop-down div {
  margin-left: 30px;
}

.drop-down a {
  font-size: 10pt;
  font-family: box;
  color: #eee;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.drop-down a:hover {
  color: #ffcc00;
}

.black {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  display: none;
}

.pics, .about-pic {
  margin-top: 100px;
  width: 100%;
  padding: 200px 0px;
  background-image: url(../img/landing-img.jpg);
  background-color: rgba(0, 0, 0, 0.192);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-attachment: fixed;
}

.pics p, .about-pic p {
  margin: auto;
  color: #fff;
}

.pics a, .about-pic a {
  color: #fff;
}

.pics p:nth-child(1), .about-pic p:nth-child(1) {
  font-size: 10pt;
  font-family: box4;
  margin-bottom: 0px;
}

.pics p:nth-child(2), .about-pic p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 55pt;
  font-family: box2;
}

.pics a, .about-pic a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 12px 25px;
  border: #ffcc00 2px solid;
  border-radius: 30px;
  font-family: box4;
  font-size: 10pt;
}

.about-pic {
  margin-top: 0px;
  background-position: top;
  height: 1vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/gold-droplets.jpg);
  background-color: transparent;
}

.foot-pic {
  background-image: url(../img/gold-necklace.jpg);
  height: 400px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid #ffcc00 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-attachment: fixed;
}

.foot-pic div,
.foot-pic h3 {
  margin: auto;
}

.foot-pic h3 {
  color: white;
  font-family: box2;
  font-size: 16pt;
  margin-bottom: 20px;
}

.foot-pic a {
  margin: auto;
  margin-top: 0px;
  color: #fff;
  font-family: box2;
  font-size: 9pt;
}

.space {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space p {
  margin: auto;
  color: #4d4d4d;
  width: 51%;
}

.space p:nth-child(1) {
  font-family: box2;
  font-size: 25pt;
  margin-top: 60px;
  margin-bottom: 40px;
}

.space p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: box4;
  font-size: 14pt;
}

.line {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 51%;
  height: 2px;
  background-color: #e2e2e2;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eeeeee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.p-team {
  margin: auto;
  margin-top: 60px;
  font-size: 20pt;
  font-family: box2;
  color: #4d4d4d;
}

.team-div {
  width: 90%;
  padding: 40px 0px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}

.pp1,
.pp2,
.pp3,
.pp4 {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.pp1 {
  background-image: url(../img/1.jpg);
}

.pp2 {
  background-image: url(../img/2.jpg);
}

.pp3 {
  background-image: url(../img/3.jpg);
}

.pp4 {
  background-image: url(../img/4.jpg);
}

.team-txt {
  margin: auto;
  width: 70%;
  height: 350px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name {
  margin: 50px auto 0px;
  font-family: box4;
  color: #4d4d4d;
}

.blue-line {
  width: 50px;
  height: 2px;
  background-color: black;
  margin: auto 0px;
}

.role {
  width: 80%;
  margin: 0px;
  color: #8f8f8f;
  font-size: 14pt;
}

.read-more {
  margin: 50px 0px;
  color: #ecec00;
}

.contact-button {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 30px;
  border: 3px solid #4d4d4d;
  background-color: #4d4d4d;
  border-radius: 50px;
}

.form-div {
  height: 900px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
}

.fill {
  margin: auto;
  font-family: box4;
  font-size: 20pt;
  color: #333333;
}

input {
  border: none;
}

.two-side {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.name-div, .pitch {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-div input, .pitch input {
  font-size: 9pt;
  font-family: box4;
  text-indent: 50px;
  height: 45px;
  width: 97.6%;
  margin: auto;
  outline: none;
  color: #4d4d4d;
  caret-color: #ffcc00;
}

.fh,
.sh {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.fh input,
.sh input {
  font-family: box4;
  font-size: 9pt;
  text-indent: 50px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  color: #888888;
  caret-color: #ffcc00;
}

.pitch input {
  padding-bottom: 150px;
}

label {
  margin: auto;
  margin-left: 6%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14pt;
}

.files {
  margin: auto;
  width: 83%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  text-indent: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
}

.send-msg {
  background-color: #ffcc00;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 35px;
  margin: auto;
  margin-top: 30px;
  border-radius: 50px;
  color: #fff;
  font-family: box2;
  font-size: 8pt;
}

.send-msg:hover {
  cursor: pointer;
}

.box-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.boxn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  height: 200px;
}

.boxn-cont div {
  margin: auto;
}

.boxn-cont div p {
  text-align: center;
  font-size: 13pt;
}

.boxn-cont div:nth-child(2) {
  font-family: box1;
}

.box1 div div:nth-child(1) {
  opacity: 0.3;
}

.box1 div div:nth-child(3) {
  opacity: 0.5;
}

.box3 div div:nth-child(2) p {
  color: white;
}

.box3 div div:nth-child(3) p {
  color: rgba(255, 255, 255, 0.6);
}

.box1,
.box2,
.box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 33.333%;
  height: 350px;
}

.box1 div,
.box2 div,
.box3 div {
  margin: auto;
}

.box1 {
  background-color: #fff;
}

.box2 {
  background-color: #ffcc00;
  color: #4d4d4d;
}

.box3 {
  background-color: #4d4d4d;
}

.footer {
  height: 90px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer div:nth-child(1) {
  margin: auto;
  margin-left: 50px;
  color: rgba(255, 255, 255, 0.554);
}

.footer div:nth-child(1) p {
  font-size: 10pt;
}

.footer div:nth-child(2) {
  margin: auto;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.send-msg-title, .send-msg-title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eeeeee;
}

.send-msg-title p, .send-msg-title2 p {
  margin: auto;
}

.send-msg-title p:nth-child(1), .send-msg-title2 p:nth-child(1) {
  font-family: box2;
  font-size: 20pt;
  margin-top: 150px;
  margin-bottom: 30px;
}

.send-msg-title p:nth-child(2), .send-msg-title2 p:nth-child(2) {
  font-size: 20pt;
  color: #4d4d4dc5;
  text-align: center;
  width: 60%;
}

.send-msg-title2 {
  padding: 100px 0px;
}

.send-msg-title2 p:nth-child(1) {
  margin: auto;
  margin-bottom: 30px;
}

.form-div2 {
  height: 600px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
}

.pg-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/businessplan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pg-a-cont {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 60px;
}

.pg-a-cont img {
  margin: 80px;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
}

.bio div {
  margin: auto;
}

.bio-txt {
  width: 50%;
  color: #4d4d4d;
}

.bio-txt p:nth-child(1) {
  font-size: 16pt;
  font-family: box3;
}

.bio-txt p:nth-child(1) span {
  font-family: box1;
}

.bio-txt p:nth-child(2) {
  font-family: box4;
  margin-top: 30px;
  font-size: 11pt;
}

@media screen and (max-width: 1050px) {
  .bio-img {
    display: none;
  }
  .bio-txt {
    width: 80%;
  }
  .AE-is div:nth-child(1) {
    width: 100%;
  }
  .AE-is div:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-links-div {
    display: none;
  }
  .pg-a-cont img {
    margin: auto;
    margin-top: 100px;
  }
  .ham {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .box-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pics, .about-pic {
    padding: 100px 0px;
  }
  .pics p:nth-child(2), .about-pic p:nth-child(2) {
    font-size: 40pt;
  }
  .space p {
    width: 90%;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
}

@media screen and (max-width: 553px) {
  .girl-sitting {
    display: none;
  }
  .who-we-are-section {
    margin: auto;
    width: 90%;
  }
  .drop-down {
    width: 100%;
    margin-left: 0%;
  }
  .logo {
    width: 150px;
    background-size: 50%;
  }
  .pics, .about-pic {
    padding: 100px 0px;
  }
  .pics p:nth-child(2), .about-pic p:nth-child(2) {
    font-size: 32pt;
  }
  .space p {
    width: 90%;
  }
  .space p:nth-child(2) {
    font-size: 12pt;
  }
  .fill {
    text-align: center;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer div:nth-child(1) {
    margin: auto;
  }
  .footer div:nth-child(2) {
    margin: auto;
    width: 50%;
  }
  .form-div {
    height: 1300px;
  }
  .two-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fh,
  .sh {
    width: 97.6%;
  }
}
/*# sourceMappingURL=styles.css.map */